<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="readsense.face">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera2.full" />

    /** sdk 必须权限**/
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />


    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/icon_readsense_1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.icount.CountStartActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".test.camera2.DetectorActivity">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".ui.icount.MoreActivity"
            android:screenOrientation="landscape">

        </activity>
        <activity
            android:name=".ui.icount.ManageFaceActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.icount.RegisterImageCameraActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.icount.RegisterVideoCameraActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.SmilePhotoActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ui.FaceRecoActivity"
            android:screenOrientation="landscape">

        </activity>
        <activity
            android:name=".ui.PointsActivity"
            android:screenOrientation="landscape">

        </activity>

        <activity
            android:name=".ui.SettingActivity"
            android:screenOrientation="landscape" />



        <activity android:name=".ui.DetectPersonActivity"
            android:screenOrientation="landscape"/>


    </application>

</manifest>